@model ASP_MVC_Backpackes.Models.Backpack
<tr>
    <td>
       
        @Html.DisplayFor(model => model.Name)
    </td>
    <td>
        @Html.DisplayFor(model => model.Capacity)
    </td>
    <td>
        @Html.DisplayFor(model => model.Price)
    </td>
    <td>
        @Html.DisplayFor(model => model.Description)
    </td>
    <td>
        @Html.DisplayFor(model => model.Manufacturer.Name)
    </td>
    <td>
        @Html.ActionLink("Edytuj", "Edit", new { id=@Model.Id }) |
        @Html.ActionLink("Szczegóły", "Details", new { id=@Model.Id }) |
        @Html.ActionLink("Usuń", "Delete", new { id=@Model.Id })
    </td>
</tr>
