@model IEnumerable<ASP_MVC_Backpackes.Models.Backpack>

@{
    ViewBag.Title = "Plecaki";
}

<h2>Plecak</h2>

<p>
    @Html.ActionLink("Utwórz nowy", "Create")
</p>
<table class="table">
    <tr style="background:#14CC93 !important">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Manufacturer.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    @Html.Partial("_partialIndex",item)

}

</table>
